{% extends 'layout/base.html' %}
{% load static %}

{% block navbar %}

{% include 'components/navbar.html' %}

{% endblock %}

{% block content %}

<div class="top-container">
    <div class="title">На этой неделе</div>

    <div class="horizontal-container">
        <form method="GET" action="">
            <input class="search-bar" type="text" name="section_title" placeholder="Поиск по названию" value="{{ request.GET.section_title }}">
        </form>

        <div class="button-container">
            {% if application_sections_counter > 0 %}
                <button class="button" onClick="location.href='{% url 'application' application.id %}'">
                    ЗАЯВКА
                    <div class="badge">
                        <div class="background">
                            {{ application_sections_counter }}
                        </div>
                    </div>
                </button>
            {% else %}
                <button class="button" disabled>
                    ЗАЯВКА
                </button>
            {% endif %}
        </div>
    </div>
</div>

<div class="grid-container">
    {% for section in sections %}
            {% include 'components/card.html' %}
        {% empty %}
            <div>Такого курса на этой неделе не будет</div>
    {% endfor %}
</div>

{% endblock %}